<p style="color: green"><%= notice %></p>

<h1><%= t('.header') %></h1>

<div id="users" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('.links.show_book'), book %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @books %>

<nav class="page-nav">
  <%= link_to t('.links.add_book'), new_book_path %>
</nav>
